html {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("./images/family2.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
  left: 0;
  min-height: 100vh;
}

ol {
  list-style: none;
  counter-reset: item;
}
li {
  counter-increment: item;
  margin-bottom: 5px;
}
li:before {
  margin-right: 10px;
  content: counter(item);
  background: green;
  border-radius: 100%;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}

.App {
  text-align: center;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-Bar {
  width: 50%;
  border: 2px solid green;
  padding: 10px;
}

.search-button {
  background: green;
  color: white;
  font-size: 1.1em;
  padding: 8px 20px;
}

.search-button:hover {
  cursor: pointer;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

